#map img {width:300px;height:200px;}
#map .over {position:absolute;width:300px;background-color: rgba(0,0,0,.6);height:200px;cursor:pointer;color:white}
.next {text-align:center}
#map .btn_wrapper {margin-bottom:10px;}
