.map {height:600px; border:1px solid #cdcdcd;text-align:center}
.map {width:730px;margin-bottom:10px;}
#mission_info {width:980px;height:100px;border:1px solid #cdcdcd; margin-bottom:20px;}
.control {border : 1px solid #cdcdcd;height:400px;margin-left:10px;width:250px;}
.person {border : 1px solid #cdcdcd; height:600px;margin-left:10px;width:250px;}
.map .map_img {width:700px;height:600px; text-align:center;opacity:0.3;margin-left:0}
.map_add_btn img {width:100px;height:100px;margin-top:100px;}
.robot {width:730px; height:400px; border:1px solid #cdcdcd ;text-align:center}
.robot img {width:100px;height:100px;}
body #mission_info {font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, AppleGothic, sans-serif !important;}