{% extends "template.html" %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Robocon">
    <meta name="author" content="Robocon">
    <meta name="keyword" content="Robocon">
  <body>
  	  {% block content %}
  	  <head>
  	  <link href="/static/css/main.css" rel="stylesheet">
  	  </head>
  	  	<div id="main">
  	  		<div class="search_wrapper">
		  	  	<div class="row past">	  	
		  	  		<h3>Past Mission</h3>
		  	  		<div class="mission">
		  	  			<table>
				  	  		<tr>
				  	  		<th>Name</th>
				  	  		<th>End Date</th>
				  	  		<th class="select"></th>
				  	  		</tr>
			  	  		</table>
		  	  		</div>
		  	  	</div>
		  	  	<div class="row current">
		  	  		<h3>Current Mission</h3>
		  	  		<div class="mission">
			  	  		<table>
				  	  		<tr>
				  	  		<th class="name">Name</th>
				  	  		<th class="date">Start Date</th>
				  	  		<th class="select"></th>
				  	  		</tr>
				  	  		{% for r in current %}
			  	  			<tr>
		  	  				<td>{{r.name}}</td>
		  	  				<td>{{r.start_date}}</td>
		  	  				<td><a class="btn-primary btn" href="../mission_info?key={{r.key}}">선택</a></td>
		  	  				<td><a class="btn-primary btn">삭제</a></td>
			  	  			</tr>
			  	  			{% endfor %}
			  	  		</table>
		  	  		</div>
		  	  	</div>
		  	  	<div class="nav">
		  	  		<form action="../mission_add/" method="post" name="mission_form">
			  	  		<input type="text" class="form-control" name="name">
		  	  			<a onclick="mission_form.submit()" class="btn">Create</a>
	  	  			</form>
	  	  		</div>
			</div>
  	  	</div>
	  {% endblock %}
  </body>
</html>
